<!doctype html>
<html lang="it">
<head>
    <title>DreamDrive | Auto</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container mt-5">
        <h1 class="text-center mb-4">Le Nostre Auto</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo1.jpg" class="card-img-top" alt="Porsche 911 GT3 RS">
                    <div class="card-body">
                        <h5 class="card-title">Porsche 911 GT3 RS</h5>
                        <p class="card-text">525 CV di pura potenza tedesca. Un'icona del motorsport pronta a regalarti emozioni in pista.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo3.jpg" class="card-img-top" alt="Ferrari 458 Italia">
                    <div class="card-body">
                        <h5 class="card-title">Ferrari 458 Italia</h5>
                        <p class="card-text">570 CV di puro sangue italiano. Il rombo del V8 di Maranello che fa sognare.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo2.jpg" class="card-img-top" alt="Lamborghini Aventador SVJ">
                    <div class="card-body">
                        <h5 class="card-title">Lamborghini Aventador SVJ</h5>
                        <p class="card-text">770 CV di potenza brutale. Il toro più cattivo di Sant'Agata Bolognese.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo4.jpg" class="card-img-top" alt="Mustang Shelby GT500">
                    <div class="card-body">
                        <h5 class="card-title">Mustang Shelby GT500</h5>
                        <p class="card-text">700 CV di muscolo americano. Il leggendario Shelby in versione moderna.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo5.jpg" class="card-img-top" alt="Mercedes-AMG GT">
                    <div class="card-body">
                        <h5 class="card-title">Mercedes-AMG GT</h5>
                        <p class="card-text">585 CV di lusso e prestazioni. L'eleganza tedesca incontra la potenza.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/noleggio-auto/nolo6.jpg" class="card-img-top" alt="Aston Martin Vanquish">
                    <div class="card-body">
                        <h5 class="card-title">Aston Martin Vanquish</h5>
                        <p class="card-text">835 CV di raffinatezza britannica. L'eleganza senza compromessi.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td1.jpg" class="card-img-top" alt="Audi e-tron GT">
                    <div class="card-body">
                        <h5 class="card-title">Audi e-tron GT</h5>
                        <p class="card-text">680 CV di potenza elettrica. Il futuro delle prestazioni è qui.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td2.jpg" class="card-img-top" alt="Pagani Zonda R">
                    <div class="card-body">
                        <h5 class="card-title">Pagani Zonda R</h5>
                        <p class="card-text">750 CV di arte italiana. Un capolavoro di Horacio Pagani.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td3.jpg" class="card-img-top" alt="McLaren Senna GTR">
                    <div class="card-body">
                        <h5 class="card-title">McLaren Senna GTR</h5>
                        <p class="card-text">814 CV di tecnologia britannica. Dedicata al leggendario Ayrton Senna.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td4.jpg" class="card-img-top" alt="Lamborghini Huracán GT3 EVO 2">
                    <div class="card-body">
                        <h5 class="card-title">Lamborghini Huracán GT3 EVO 2</h5>
                        <p class="card-text">620 CV di precisione italiana. Una macchina da corsa per la pista.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td5.jpg" class="card-img-top" alt="Bugatti Chiron">
                    <div class="card-body">
                        <h5 class="card-title">Bugatti Chiron</h5>
                        <p class="card-text">1500 CV di eccellenza francese. Il pinnacolo dell'ingegneria automobilistica.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/track-day-auto/td6.jpg" class="card-img-top" alt="Nissan GTR R35 Nismo">
                    <div class="card-body">
                        <h5 class="card-title">Nissan GTR R35 Nismo</h5>
                        <p class="card-text">570 CV di precisione giapponese. Godzilla nella sua forma più pura.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>
